<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Apps list.</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css?1685973381" rel="stylesheet"/>
    <link href="/css/demo.min.css?1685973381" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
    <script src="/js/demo-theme.min.js?1685973381"></script>
    <div class="page">
      <!-- Navbar -->

      <%- include('../partials/navbar.ejs') %>

      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Apps
                </h2>
                <div class="text-secondary mt-1"><%= list_start %> - <%= list_end %> of <%= app_count %> Apps.</div>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">

                <div class="d-flex">
                  <form action="/apps" id="search" name="search" method="POST">
                    <input type="search" class="form-control" name="search" placeholder="Search apps…">
                  </form>
                  &nbsp;<input type="submit" form="search" class="btn btn-outline-success h-50" value="search">

                  <div class="card-actions btn-actions">
                    <div class="card-actions btn-actions">
                      <div class="dropdown">
                        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Change Templates">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#">Default Template</a>
                          <a class="dropdown-item" href="#">Compose Files</a>
                          <a class="dropdown-item" href="#">Custom Template</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">

              <%- apps_list %>
              
            </div>
            <div class="d-flex mt-4">
              <ul class="pagination ms-auto">
                <li class="page-item">
                  <a class="page-link" href="<%- prev %>" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                    prev
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="/apps?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="/apps?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/apps?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="/apps?page=4">4</a></li>
                <li class="page-item"><a class="page-link" href="/apps?page=5">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="<%- next %>">
                    next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <%- include('../partials/footer.ejs') %>

      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js?1685973381" defer></script>
    <script src="/js/demo.min.js?1685973381" defer></script>
  </body>
</html>